<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turing Machine online in Flask</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/theme.css" rel="stylesheet">
  </head>
  <body role="document" style>
    <div class="container theme-showcase" role="main">
      <h1>Turing Machine</h1>
      <div class="principal">
        <textarea rows="10" cols="50"></textarea>
        <button id="save" type="button" class="btn btn-default">Save</button>
        <button id="run" type="button" class="btn btn-default">Simulate</button>
        <textarea rows="10" cols="50"></textarea>
      </div>
    </div>
    <div class="footer">
      The MIT License (MIT) - Copyright (c) 2014 Danilo J. S. Bellini and Nicolas França
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
