html {
  height: 100%;
}

body {
  padding-top: 00px;
  padding-bottom: 00px;
  height: 100%;
}

textarea {
  display: block;
  margin: 5px auto;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 0px;
}

.theme-showcase > p > .btn {
  margin: 10px 1;
}

.principal {
  width: 100%;
  text-align: center;
}

.geral {
  min-height: 100%;
  position: relative;
  width: 800px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

h1, .footer {
  text-align: center;
}
